#squareStructure{
    position: absolute;
    left: 50%;
    top: 50%;
    perspective: 1500px;
}

.cube-0 
{
    /* Transform the cube and keep all of the children sides in place */  
    transform-style: preserve-3d;
    animation: rotate 30s linear infinite;   
}

@keyframes rotate 
{
    0% 
    {
        transform: rotate3d(0, 0, 0, 0);
    }
    100% 
    {
        /* Controls rotation amount on one axis */
        transform: rotate3d(1, 1, 1, 360deg);
    }
}


/* Size and border color for each face */
.face 
{
    position: absolute;
    width: 200px;
    height: 200px;
    border: solid green 3px;
}


/* Transforming every face into their correct positions */
#front 
{
    transform: translateX(-100px) translateY(-100px) translateZ(100px);
    background: rgba(255, 0, 0, 0.5);
}

#back 
{
    transform: translateX(-100px) translateY(-100px) translateZ(-100px);
    background: rgba(255, 0, 255, 0.5);
}

#right 
{
    transform: translateY(-100px) rotateY(90deg);
    background: rgba(255, 255, 0, 0.5);
}

#left 
{
    transform: translateY(-100px) translateX(-200px) rotateY(90deg);
    background: rgba(0, 255, 0, 0.5);
}

#top 
{
    transform: translateX(-100px) translateY(-200px) rotateX(90deg);
    background: rgba(0, 255, 255, 0.5);
}

#bottom 
{
    transform: translateX(-100px) rotateX(90deg);
    background: rgba(255, 255, 255, 0.5);
}
