
a:focus{
    outline: none;
}
.randomFillSpace
{
	height:100vh;
}

.textCenter
{
	text-align: center;
}

.middle
{
	display: block;
    margin-left: auto;
    margin-right: auto
}

.portfolioLinks
{
	color: white;
}