div.mainTitle 
{
    height: 10em;
    position: relative;
}

div.mainTitle p 
{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

/* Remove spacing before any div */
html, body {
    margin: 0;
    padding: 0;
}

/* Characteristics of a single moving element */
#myAnimation {
  width: 50px;
  height: 50px;
  position: absolute;
  background-image: url("./../img/alphabet/a.png");
  background-size: contain;
}

/* Characteristics of a single moving element */
#myAnimationTest {
  width: 50px;
  height: 50px;
  position: absolute;
  background-image: url("./../img/alphabet/b.png");
  background-size: contain;
}

/* Background which will contain all the characters */
#myContainer 
{
  width: 100vw ;
  height: 100vh ;
  position: relative;
  background: yellow;
}
