div.mainTitle 
{
    height: 10em;
    position: relative;
}

div.mainTitle p 
{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

/* Background which will contain all the characters */
#myContainer 
{
  width: 100vw;
  height: 100vh ;
  position: relative;
  background: yellow;
}


