#aboutMe
{
    min-height: 100vh;
   	background:#18BC9C;
	color: white;
	padding-top: 5%;
}

@media (min-width: 768px) {
  header .container {
    padding-top: 5%;
    padding-bottom: 100px;
  }
  header .intro .name {
    font-size: 4.75em;
  }
  header .intro .skills {
    font-size: 1.75em;
  }
}